{% include "head.html" %}
<!--{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<html>
<head>
</head -->
<title>The Bridge: Lemmatizer</title>
<body id="body" data-title="index" class = "home blog">
	{% include "navbar.html" %}
	{% include "about.html" %}
<div id="background" class = "custom-background img-responsive">
  <div class="page-wrap">
 </div>
</div>
</div></div></div> <!--- Close everything that should be closed but goodness knows is not. If you have some free time and good spirit you could try to find where these actually go -->
{% include "footer.html" %}
