{% include "head.html" %}

{% csrf_token %}
<title>The Bridge: Lemmatizer</title>
<body id="body" data-title="index" class = "home">
	{% include "navbar.html" %}
	{% include "about.html" %}
<div id="background" class = "custom-background img-responsive">
  <div class="page-wrap">
<!--{% debug %}-->
<font color="white"><p> Filename: {{form.file.value}} </p>
<font color="white"><p> Format: {{form.lem_format.value}} </p>
<font color="white"><p> Language: {{form.language.value}} </p>
<button><a href="/download/{{output_file}}" download>Download Lemmatized File</a></button>

<button><a href="/lemmatizer">Lemmatize Another</a></button>
</div>
</div>

 

{% include "footer.html" %}
